body {display: block;font-size:180%!important;height:1024px!important;}
#jqxTree{position:static;float:right;width:100%;top:0px;display:block!important;}
#player{position:static;} 
#jqxTree {left:800px!important;}  
.jqx-tree-item  {font-size:540%!important;} 
.jqx-widget {width:150%;} 